.userListTable {
  width: 90%;
  height: 100%;
  margin: 50px auto;
  border-collapse: collapse;
  border: 1px solid grey;
  padding: 0;
}
th, td {
  border: 1px solid grey;
  padding: 10px 15px;
}
th {
  color:#039;
}

td {
  color:#669;
}
